/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

body {
  background-color: #F2F2F2;
}

.content {
  .mui-paper {
    margin: 16px;
    background-color: #FFFFFF;

    .mui-paper-container {
      min-height: 120px;
    }

    .text-paper {
      padding: 16px;
    }

    .image-paper {
      height: 280px;
      background-image:  url("../img/image.jpg");
      background-position: center top;
      background-size: 100% auto;
    }
  }
}
